@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --neon: 150, 235, 100; /* tailwind green-400 gibi */
}

html { scroll-behavior: smooth; }
body { background: #191919; color: #e5e7eb; } /* koyu tema hissi */

